@font-face {
  font-family: 'intellihr';
  src:  url('fonts/intellihr.eot?gskvua');
  src:  url('fonts/intellihr.eot?gskvua#iefix') format('embedded-opentype'),
    url('fonts/intellihr.ttf?gskvua') format('truetype'),
    url('fonts/intellihr.woff?gskvua') format('woff'),
    url('fonts/intellihr.svg?gskvua#intellihr') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="intelli-icon-"], [class*=" intelli-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'intellihr' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intelli-icon-alert:before {
  content: "\e93c";
}
.intelli-icon-smile:before {
  content: "\e93b";
}
.intelli-icon-sentiment-performance-management:before {
  content: "\e927";
}
.intelli-icon-sentiment-diary-notes:before {
  content: "\e937";
}
.intelli-icon-sentiment-forms:before {
  content: "\e938";
}
.intelli-icon-sentiment-goals:before {
  content: "\e939";
}
.intelli-icon-sentiment:before {
  content: "\e93a";
}
.intelli-icon-search:before {
  content: "\e91e";
}
.intelli-icon-phone:before {
  content: "\e91f";
}
.intelli-icon-arrow-down:before {
  content: "\e920";
}
.intelli-icon-social-twitter:before {
  content: "\e921";
}
.intelli-icon-menu-burger:before {
  content: "\e922";
}
.intelli-icon-location:before {
  content: "\e923";
}
.intelli-icon-tick-small:before {
  content: "\e924";
}
.intelli-icon-social-instagram:before {
  content: "\e925";
}
.intelli-icon-mini-dialog:before {
  content: "\e926";
}
.intelli-icon-social-linkedin:before {
  content: "\e928";
}
.intelli-icon-arrow-right:before {
  content: "\e929";
}
.intelli-icon-column:before {
  content: "\e92a";
}
.intelli-icon-avatar:before {
  content: "\e92b";
}
.intelli-icon-sync-6:before {
  content: "\e92c";
}
.intelli-icon-email:before {
  content: "\e92d";
}
.intelli-icon-security:before {
  content: "\e92e";
}
.intelli-icon-social-facebook:before {
  content: "\e92f";
}
.intelli-icon-smile-round-fill:before {
  content: "\e930";
}
.intelli-icon-cross-small:before {
  content: "\e931";
}
.intelli-icon-upload:before {
  content: "\e932";
}
.intelli-icon-glasses-2:before {
  content: "\e933";
}
.intelli-icon-coffee:before {
  content: "\e934";
}
.intelli-icon-column-tick:before {
  content: "\e935";
}
.intelli-icon-cross-large:before {
  content: "\e936";
}
.intelli-icon-sync-5:before {
  content: "\e91d";
}
.intelli-icon-pie:before {
  content: "\e900";
}
.intelli-icon-people:before {
  content: "\e901";
}
.intelli-icon-config:before {
  content: "\e902";
}
.intelli-icon-sync:before {
  content: "\e903";
}
.intelli-icon-australia:before {
  content: "\e904";
}
.intelli-icon-orgs:before {
  content: "\e905";
}
.intelli-icon-line-chart:before {
  content: "\e906";
}
.intelli-icon-shield:before {
  content: "\e907";
}
.intelli-icon-book:before {
  content: "\e908";
}
.intelli-icon-people-2:before {
  content: "\e909";
}
.intelli-icon-heart:before {
  content: "\e90a";
}
.intelli-icon-card:before {
  content: "\e90b";
}
.intelli-icon-people-3:before {
  content: "\e90c";
}
.intelli-icon-glasses:before {
  content: "\e90d";
}
.intelli-icon-multi-line-chart:before {
  content: "\e90e";
}
.intelli-icon-config-2:before {
  content: "\e90f";
}
.intelli-icon-sync-2:before {
  content: "\e910";
}
.intelli-icon-orgs-board:before {
  content: "\e911";
}
.intelli-icon-check-list:before {
  content: "\e912";
}
.intelli-icon-support:before {
  content: "\e913";
}
.intelli-icon-target:before {
  content: "\e914";
}
.intelli-icon-sync-3:before {
  content: "\e915";
}
.intelli-icon-copy:before {
  content: "\e916";
}
.intelli-icon-clock:before {
  content: "\e917";
}
.intelli-icon-check-list-2:before {
  content: "\e918";
}
.intelli-icon-check:before {
  content: "\e919";
}
.intelli-icon-check-list-3:before {
  content: "\e91a";
}
.intelli-icon-sync-4:before {
  content: "\e91b";
}
.intelli-icon-check-list-4:before {
  content: "\e91c";
}
